<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/cv">CV</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<footer>
			<ul>
				<li><a href="mailto:theorist17@gmail.com">Email</a></li>
				<li><a href="https://github.com/theorist17">Github</a></li>
				<li><a href="https://www.linkedin.com/in/theorist17/">LinkedIn </a></li>
				<li><a href="https://www.youtube.com/channel/UCItq1ABK3ZAOf1TCTKm2Y3g">Youtube</a></li>
			</ul>
		</footer>
	</body>
</html>